.ant-slider .ant-slider-track {
  background-color: #1890ff; /* 원하는 색 */
  height: 6px;
}

.ant-slider-handle {
  border-color: #2e1a12 !important;
  background-color: #2e1a12 !important;
}

.ant-slider-handle::after {
  border-color: #2e1a12 !important;
  background-color: #2e1a12 !important;
}

.ant-slider-rail {
  background-color: #fff !important;
}
